<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Customer" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Handler" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Admin" tabIcon="construct"></ion-tab>
</ion-tabs>
