<!--
  Generated template for the HandlerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Capture Lost Baggage info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12 text-center>
      <button ion-button icon-start (tap)="captureAndUpload()">
        <ion-icon name="camera"></ion-icon>
        Capture Image
      </button>
    </ion-col>
    <ion-col col-12 *ngIf="image">
      <img width="100%" height="auto" [src]="image">
    </ion-col>
    <ion-col col-12 *ngIf="labelsCaptured.length > 0">
      <h3>Labels</h3>
      <ion-chip color="secondary" *ngFor="let label of labelsCaptured; let i = index;">
        <ion-label>{{ label }}</ion-label>
        <ion-icon name="close" (click)="removeKey(i)"></ion-icon>
      </ion-chip>
    </ion-col>
    <ion-col *ngIf="labelsCaptured.length > 0">
      <button ion-button icon-start (tap)="submitClicked()">
        <!-- <ion-icon name="camera"></ion-icon> -->
        Submit
      </button>
    </ion-col>
  </ion-row>
</ion-content>