<!--
  Generated template for the HandlerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register lost item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12>
      <ion-item>
        <ion-label>
          Lost Item details
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col col-12>
      <ion-item>
        <ion-label>Input Username</ion-label>
        <ion-input [(ngModel)]="username" class="alignment-set"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-12>
      <ion-item>
        <ion-label>Select object type</ion-label>
        <ion-select [(ngModel)]="objectTypeText">
          <ion-option *ngFor="let type of objectType">{{ type.key }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-12>
      <ion-item>
        <ion-label>Select object color</ion-label>
        <ion-select [(ngModel)]="objectColorText">
          <ion-option *ngFor="let type of objectColor">{{ type.key }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-12>
      <ion-item>
        <ion-label>Input object brand</ion-label>
        <ion-input [(ngModel)]="objectBrandText" class="alignment-set"></ion-input>
      </ion-item>
    </ion-col>
    <!-- <ion-col col-12>
      <ion-item>
        <ion-textarea [(ngModel)]="inputPhrase" placeholder="Type your phrase"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col col-12 text-center>
      <button ion-button icon-start (tap)="processNLP()">
      Process NLP
      </button>
    </ion-col>
    <ion-col col-12>
      <ion-chip color="secondary" *ngFor="let label of keys; let i= index">
        <ion-label>{{ label }}</ion-label>
        <ion-icon name="close" (click)="removeKey(i)"></ion-icon>
      </ion-chip>
    </ion-col>
    <ion-col col-12 text-center>
      <button ion-button icon-start (tap)="submitClicked()">
        <ion-icon name="add-circle"></ion-icon>Submit
      </button>
    </ion-col> -->
    <ion-col col-12 text-center>
        <button ion-button icon-start (tap)="showRecommendation()">
          Recommend
        </button>
      </ion-col>
    <ion-col col-12>
        <ion-list>
          <ion-item *ngFor="let img of imagesSRC">
            <ion-thumbnail slot="start">
              <img [src]="img"/>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-col>
  </ion-row>
</ion-content>