<ion-header>
  <ion-navbar>
    <ion-title>
      Admin
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-8></ion-col>
    <ion-col>
    <button ion-button icon-start (click)="refreshData()">
        {{'Refresh'}}
      </button>
    </ion-col>
    </ion-row>
  <ion-row *ngFor="let item of lostItems; let i = index">
    <ion-col col-3>
      <ion-item>
        <ion-textarea [(ngModel)]="item.object_type" placeholder="type"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <ion-item>
        <ion-textarea [(ngModel)]="item.brand" placeholder="brand"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <ion-item>
        <ion-textarea [(ngModel)]="item.color" placeholder="color"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button icon-start (tap)="matchItem(i)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-12>
      <ion-list>
        <ion-item *ngFor="let img of item.imagesSRC">
          <ion-thumbnail slot="start">
            <img [src]="img"/>
          </ion-thumbnail>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>